n8n_workflow.json
{
  "name": "ArcVault AI Intake & Triage Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arcvault-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "arcvault-intake"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"request_id\": {{ JSON.stringify($json.body.id) }},\n  \"source\": {{ JSON.stringify($json.body.source) }},\n  \"raw_message\": {{ JSON.stringify($json.body.message) }},\n  \"timestamp\": {{ JSON.stringify($now.toISO()) }}\n}",
        "options": {}
      },
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI triage agent for ArcVault, a B2B software company. Your task is to classify, enrich, and summarize inbound customer support requests.\n\nAnalyze the support request and return exactly one valid JSON object with the following fields:\n\n- category\n- priority\n- confidence_score\n- core_issue\n- extracted_entities\n- urgency_signal\n- human_summary\n\nAllowed values:\n\ncategory must be exactly one of:\n- \"Bug Report\"\n- \"Feature Request\"\n- \"Billing Issue\"\n- \"Technical Question\"\n- \"Incident/Outage\"\n\npriority must be exactly one of:\n- \"Low\"\n- \"Medium\"\n- \"High\"\n\nurgency_signal must be exactly one of:\n- \"Low\"\n- \"Medium\"\n- \"High\"\n\nField requirements:\n\n1. category\nChoose the single best category using these rules:\n- \"Incident/Outage\" = service disruption, downtime, severe degradation, dashboard/system unavailable, or multiple users affected\n- \"Bug Report\" = broken or incorrect product behavior, typically limited in scope and not clearly a broad outage\n- \"Technical Question\" = setup, configuration, integration, how-to, troubleshooting question, or clarification request\n- \"Feature Request\" = request for a new capability, enhancement, or improvement\n- \"Billing Issue\" = invoice, charge, refund, pricing, payment, or contract discrepancy\n\n2. priority\n- \"High\" = blocked user, revenue impact, access issue, production issue, or multiple users affected\n- \"Medium\" = non-blocking issue with moderate business impact\n- \"Low\" = informational, low-impact, or nice-to-have request\n\n3. confidence_score\nReturn a decimal from 0.0 to 1.0:\n- 0.90 to 1.00 = category is very clear from explicit evidence\n- 0.70 to 0.89 = category is likely but somewhat ambiguous\n- below 0.70 = ambiguous, mixed-intent, or insufficient evidence\n\n4. core_issue\nOne sentence summarizing the main request or problem.\n\n5. extracted_entities\nReturn an object containing only identifiers explicitly present in the message, such as:\n- account_id\n- invoice_number\n- error_code\n- provider\n- product_name\n- dollar_amounts\n- url\n- affected_users\n- timestamp_reference\n\nDo not invent or infer identifiers that are not directly supported by the message.\nIf none are present, return {}.\n\n6. urgency_signal\nAssess time sensitivity and operational impact:\n- \"High\" for outages, blocked access, revenue/billing risk, or multiple affected users\n- \"Medium\" for meaningful but not critical issues\n- \"Low\" for low-stakes requests or informational questions\n\n7. human_summary\nWrite 2 to 3 sentences for the receiving team. Include what happened, what the customer needs, and any critical supporting details.\n\nConsistency rules:\n- Return only valid JSON. No markdown, no code fences, no commentary.\n- Do not add fields outside the required schema.\n- Do not fabricate missing information.\n- Keep category, priority, and urgency logically consistent.\n- If the issue describes downtime or multiple affected users, prefer \"Incident/Outage\".\n- If the issue is clearly a question about setup or integration, prefer \"Technical Question\".\n\nSource: {{ $json.source }}\nMessage: {{ $json.raw_message }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "node-openai",
      "name": "AI Triage",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        680,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_ME",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node 4: Schema Validation\n// Validates the LLM response before routing to catch\n// malformed or incomplete output.\n// ============================================================\n\nconst input = $input.first().json;\n\n// Parse LLM response\nlet llmOutput;\ntry {\n  const content = input.message?.content || input.text || input.content || JSON.stringify(input);\n  llmOutput = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  return [{\n    json: {\n      ...($input.first().json),\n      validation_passed: false,\n      escalation_flag: true,\n      destination_queue: 'Escalation Queue',\n      escalation_reason: 'Failed to parse LLM response as JSON: ' + e.message,\n      category: 'Unknown',\n      priority: 'High',\n      confidence_score: 0,\n      core_issue: 'LLM output could not be parsed',\n      extracted_entities: {},\n      urgency_signal: 'High',\n      human_summary: 'The AI classification failed to produce valid output. Manual review required.'\n    }\n  }];\n}\n\nconst VALID_CATEGORIES = ['Bug Report', 'Feature Request', 'Billing Issue', 'Technical Question', 'Incident/Outage'];\nconst VALID_PRIORITIES = ['Low', 'Medium', 'High'];\nconst errors = [];\n\nif (!VALID_CATEGORIES.includes(llmOutput.category)) {\n  errors.push(`Invalid category: '${llmOutput.category}'`);\n}\nif (!VALID_PRIORITIES.includes(llmOutput.priority)) {\n  errors.push(`Invalid priority: '${llmOutput.priority}'`);\n}\n\nconst score = parseFloat(llmOutput.confidence_score);\nif (isNaN(score) || score < 0 || score > 1) {\n  errors.push(`Invalid confidence_score: '${llmOutput.confidence_score}'`);\n}\n\nif (!llmOutput.core_issue || typeof llmOutput.core_issue !== 'string' || llmOutput.core_issue.trim() === '') {\n  errors.push('Missing or empty core_issue');\n}\nif (!llmOutput.human_summary || typeof llmOutput.human_summary !== 'string' || llmOutput.human_summary.trim() === '') {\n  errors.push('Missing or empty human_summary');\n}\n\nconst validationPassed = errors.length === 0;\n\nreturn [{\n  json: {\n    request_id: input.request_id,\n    source: input.source,\n    raw_message: input.raw_message,\n    timestamp: input.timestamp,\n    category: llmOutput.category || 'Unknown',\n    priority: llmOutput.priority || 'High',\n    confidence_score: parseFloat(llmOutput.confidence_score) || 0,\n    core_issue: llmOutput.core_issue || 'Unable to determine',\n    extracted_entities: llmOutput.extracted_entities || {},\n    urgency_signal: llmOutput.urgency_signal || 'High',\n    human_summary: llmOutput.human_summary || 'Manual review required.',\n    validation_passed: validationPassed,\n    validation_errors: errors,\n    escalation_flag: !validationPassed,\n    destination_queue: !validationPassed ? 'Escalation Queue' : '',\n    escalation_reason: !validationPassed ? 'Invalid or incomplete LLM output: ' + errors.join('; ') : ''\n  }\n}];"
      },
      "id": "node-validate",
      "name": "Schema Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node 5: Routing Logic\n// Deterministic category-to-queue mapping with keyword\n// override for IT/Security on auth-related questions.\n// ============================================================\n\nconst item = $input.first().json;\n\n// Skip routing if already escalated by validation\nif (item.escalation_flag === true) {\n  return [{ json: item }];\n}\n\nconst CATEGORY_QUEUE_MAP = {\n  'Bug Report': 'Engineering',\n  'Feature Request': 'Product',\n  'Billing Issue': 'Billing',\n  'Incident/Outage': 'Engineering',\n  'Technical Question': 'General Support'\n};\n\nlet destinationQueue = CATEGORY_QUEUE_MAP[item.category] || 'General Support';\n\n// Override for auth/security-related Technical Questions\nif (item.category === 'Technical Question') {\n  const authKeywords = ['sso', 'okta', 'saml', 'oauth', 'authentication',\n    'identity provider', 'permissions', 'auth', 'login', 'credential',\n    'mfa', 'two-factor', '2fa', 'ldap', 'active directory'];\n  const msgLower = (item.raw_message || '').toLowerCase();\n  const hasAuthKeyword = authKeywords.some(kw => msgLower.includes(kw));\n  if (hasAuthKeyword) {\n    destinationQueue = 'IT/Security';\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    destination_queue: destinationQueue\n  }\n}];"
      },
      "id": "node-routing",
      "name": "Routing Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node 6: Escalation Check\n// Determines if the request needs human review based on\n// confidence threshold, outage indicators, billing amount,\n// or prior validation failure.\n// ============================================================\n\nconst item = $input.first().json;\nconst reasons = [];\n\n// Already flagged by validation\nif (item.escalation_flag === true) {\n  reasons.push(item.escalation_reason || 'Validation failure');\n}\n\n// Low confidence\nif (item.confidence_score < 0.70) {\n  reasons.push(`Low confidence score: ${item.confidence_score}`);\n}\n\n// Incident/Outage category\nif (item.category === 'Incident/Outage') {\n  reasons.push('Category is Incident/Outage — requires immediate human review');\n}\n\n// Outage keyword detection\nconst outageKeywords = ['outage', 'down for all users', 'multiple users affected',\n  'not loading', 'service down', 'system down', 'stopped loading',\n  'stopped working', 'completely down'];\nconst msgLower = (item.raw_message || '').toLowerCase();\nfor (const kw of outageKeywords) {\n  if (msgLower.includes(kw)) {\n    reasons.push(`Outage indicator detected: \"${kw}\"`);\n    break;\n  }\n}\n\n// Billing discrepancy > $500\nif (item.category === 'Billing Issue') {\n  const amounts = (item.raw_message || '').match(/\\$([\\d,]+\\.?\\d*)/g);\n  if (amounts && amounts.length >= 2) {\n    const values = amounts.map(a => parseFloat(a.replace(/[$,]/g, ''))).sort((a, b) => b - a);\n    const discrepancy = values[0] - values[1];\n    if (discrepancy > 500) {\n      reasons.push(`Billing discrepancy of $${discrepancy} exceeds $500 threshold`);\n    }\n  }\n}\n\nconst shouldEscalate = reasons.length > 0;\n\nreturn [{\n  json: {\n    ...item,\n    escalation_flag: shouldEscalate,\n    escalation_reason: shouldEscalate ? reasons.join('; ') : '',\n    destination_queue: shouldEscalate ? 'Escalation Queue' : item.destination_queue\n  }\n}];"
      },
      "id": "node-escalation",
      "name": "Escalation Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "escalation-check",
              "leftValue": "={{ $json.escalation_flag }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-escalation",
      "name": "IF Escalated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "CONFIGURE_ME_PROCESSED_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Processed Requests",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.request_id }}",
            "Source": "={{ $json.source }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Confidence Score": "={{ $json.confidence_score }}",
            "Core Issue": "={{ $json.core_issue }}",
            "Extracted Entities": "={{ JSON.stringify($json.extracted_entities) }}",
            "Urgency Signal": "={{ $json.urgency_signal }}",
            "Destination Queue": "={{ $json.destination_queue }}",
            "Escalation Flag": "={{ $json.escalation_flag }}",
            "Escalation Reason": "={{ $json.escalation_reason }}",
            "Human Summary": "={{ $json.human_summary }}",
            "Raw Message": "={{ $json.raw_message }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-sheets-main",
      "name": "Google Sheets - Processed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        420
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "CONFIGURE_ME_ESCALATION_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Escalation Queue",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.request_id }}",
            "Source": "={{ $json.source }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Confidence Score": "={{ $json.confidence_score }}",
            "Core Issue": "={{ $json.core_issue }}",
            "Extracted Entities": "={{ JSON.stringify($json.extracted_entities) }}",
            "Urgency Signal": "={{ $json.urgency_signal }}",
            "Destination Queue": "={{ $json.destination_queue }}",
            "Escalation Flag": "={{ $json.escalation_flag }}",
            "Escalation Reason": "={{ $json.escalation_reason }}",
            "Human Summary": "={{ $json.human_summary }}",
            "Raw Message": "={{ $json.raw_message }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-sheets-escalation",
      "name": "Google Sheets - Escalation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        180
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node 8: Finalize Structured Record\n// Outputs the complete normalized JSON record for logging,\n// export, or demonstration purposes.\n// ============================================================\n\nconst item = $input.first().json;\n\nconst structuredRecord = {\n  id: item.request_id,\n  source: item.source,\n  category: item.category,\n  priority: item.priority,\n  confidence_score: item.confidence_score,\n  core_issue: item.core_issue,\n  extracted_entities: item.extracted_entities,\n  urgency_signal: item.urgency_signal,\n  destination_queue: item.destination_queue,\n  escalation_flag: item.escalation_flag,\n  escalation_reason: item.escalation_reason,\n  human_summary: item.human_summary,\n  raw_message: item.raw_message,\n  timestamp: item.timestamp\n};\n\nreturn [{ json: structuredRecord }];"
      },
      "id": "node-finalize",
      "name": "Finalize Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "AI Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage": {
      "main": [
        [
          {
            "node": "Schema Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation": {
      "main": [
        [
          {
            "node": "Routing Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing Logic": {
      "main": [
        [
          {
            "node": "Escalation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Check": {
      "main": [
        [
          {
            "node": "IF Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Escalated": {
      "main": [
        [
          {
            "node": "Google Sheets - Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Processed": {
      "main": [
        [
          {
            "node": "Finalize Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Escalation": {
      "main": [
        [
          {
            "node": "Finalize Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "local-arcvault-version",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "local"
  },
  "id": "ArcVaultLocalWorkflow",
  "tags": [
    {
      "name": "ArcVault",
      "id": "1"
    },
    {
      "name": "AI Triage",
      "id": "2"
    }
  ]
}